<div class="splashOpaque" *ngIf="showSplash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PlayList Maker App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar  [(ngModel)]="buscar" (search)="ejecutarComando('play')" placeholder="Búsqueda..."></ion-searchbar>
  <ion-list-header>
    <ion-label>Canciones</ion-label>
    Reproducción Automática
    <ion-toggle [(ngModel)]="reproduceAutomatic"> </ion-toggle>
  </ion-list-header>
  
  
  <div *ngFor="let song of songs">
    <ion-item-sliding>
    <ion-item lines="none" 
      (click)="playMusicVideo(song)">
      <ion-thumbnail slot="start">
        <img src="{{song.img}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{song.title}}</h2>
        <p>{{song.subtitle}}</p>
      </ion-label>
      <ion-badge slot="end">{{song.type}}</ion-badge>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteMusic(song)">Eliminar</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>

<!-- full player view  -->
<div class="ion-text-center" id="fullPlayer">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="minimize()">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path
            d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
          </path>
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<div *ngIf="type=='youtube'">
  <iframe width="560" height="315" [src]="videoid | youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <iframe width="100%" height="100%" [src]="videoid | youtube" frameborder="0" allow="autoplay" encrypted-media allowfullscree></iframe> -->
</div>
  <img src="{{currImage}}" alt="" id="currImg">
  <h2>{{currTitle}}</h2>
  <p>
    {{currSubtitle}}
  </p>

  <ion-item lines="none">
    <ion-range #range (touchmove)="touchMove()" (touchend)="touchEnd()" (touchstart)="touchStart()"
      [(ngModel)]="currRangeTime" max="{{maxRangeValue}}">
      <ion-label slot="start">
        <ion-text>
          <b>
            {{currSecsText}}
          </b>
        </ion-text>
      </ion-label>

      <ion-label slot="end">
        <ion-text>
          <b>
            {{durationText}}
          </b>
        </ion-text>
      </ion-label>
    </ion-range>
  </ion-item>

  <!-- play previous button -->
  <ion-button fill="clear" mode="ios" (click)="playPrev()">
    <ion-icon name="play-skip-back-outline" style="font-size: 30px"></ion-icon>
  </ion-button>

  <!-- Play button -->
  <ion-button fill="clear" mode="ios" *ngIf="!isPlaying" (click)="play()">
    <ion-icon name="play" style="font-size: 40px"></ion-icon>
  </ion-button>

  <!-- Pause button -->
  <ion-button fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
    <ion-icon name="pause" style="font-size: 40px"></ion-icon>
  </ion-button>

  <!-- play previous button -->
  <ion-button fill="clear" mode="ios" (click)="playNext()">
    <ion-icon name="play-skip-forward-outline" style="font-size: 30px"></ion-icon>
  </ion-button>

  <ion-list-header>
    Up Next
  </ion-list-header>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{upNextImg}}" alt="">
    </ion-thumbnail>
    <ion-label>
      <h2>
        {{upNextTitle}}
      </h2>
      <p>
        {{upNextSubtitle}}
      </p>
    </ion-label>
  </ion-item>
</div>

<ion-toolbar id="miniPlayer">
  <ion-item>
    <ion-thumbnail slot="start" (click)="maximize()">
      <img src="{{currImage}}" alt="">
    </ion-thumbnail>

    <ion-label (click)="maximize()">
      <h2>
        {{currTitle}}
      </h2>
      <p>
        {{currSubtitle}}
      </p>
    </ion-label>

    <!-- Play button -->
    <ion-button fill="clear" mode="ios" *ngIf="!isPlaying" (click)="play()">
      <ion-icon name="play" style="font-size: x-large"></ion-icon>
    </ion-button>

    <!-- Pause button -->
    <ion-button fill="clear" mode="ios" *ngIf="isPlaying" (click)="pause()">
      <ion-icon name="pause" style="font-size: x-large"></ion-icon>
    </ion-button>

    <!-- Cancel song button -->
    <ion-button fill="clear" mode="ios" (click)="cancel()">
      <ion-icon name="close" style="font-size: x-large"></ion-icon>
    </ion-button>

  </ion-item>

  <!-- song  -->
  <ion-progress-bar value="{{progress}}">

  </ion-progress-bar>
</ion-toolbar>